[% WRAPPER wrapper.tt, 
    page.title => "Home"
%]

<div class="top">
<dl>
<dt><img src="/static/img/whatsnew.png" alt="WHAT'S NEW" /></dt>
<dd>
<ul>
	<li><a href="pod/Moose-Doc-JA/index.html">Moose</a></li>
	<li>モジュール名</li>
	<li>モジュール名</li>
</ul>
</dd>
</dl>
</div>

<h1>ドキュメント一覧</h1>

<ul>
[% FOREACH module IN modules %]
<li><a href="pod/[% module.name %]/index.html">[% module.name %]</a></li>
[% END %]
</ul>

[% END # WRAPPER %]