[% WRAPPER wrapper.tt, 
    page.title => "Home"
%]

<h1>Japan Perl Association ドキュメント和訳プロジェクト</h1>

<ul>
[% FOREACH module IN modules %]
<li><a href="pod/[% module.name %]/index.html">[% module.name %]<a></li>
[% END %]
</ul>

[% END # WRAPPER %]