@charset "UTF-8";
/* CSS Document */
a:link{
	color:#002E60;
  text-decoration:none;
}
a:visited{
	color:#990000;
  text-decoration:none;
 }
a:hover{
	color:#990000;
  text-decoration:underline;
}
img{
vertical-align:bottom;
border:none;
}

html{
margin:0;
padding:0;
font-size:14px;
line-height:1.8;
}
body{
margin:0;
padding:238px 98px 0;
background:url(img/body.png) 0 0 repeat-x;
font-size:14px;
line-height:1.8;
}

h1{
	margin:0;
  padding:0;
  font-size:32px;
  font-weight:bold;
  line-height:115px;
}
h2{
font-size:24px;
line-height:1;
margin:50px 0 0;
padding:0 0 14px 40px;
border-bottom:3px solid #006699;
background:url(img/h2.png) no-repeat 5px 3px;
}
h3{
	color:#006699;
  font-size:18px;
  border-left:4px solid #006699;
  line-height:20px;
  padding:0 0 0 10px;
  margin:20px 0 10px 10px;
}
h4{
	font-size:16px;
  margin:20px 0 10px 10px;
  padding:0 0 0 16px;
  line-height:18px;
  background:url(img/h4.png) no-repeat left center;
}

p{
line-height:1.8;
margin:1em 30px;
}
p strong{
	color:#006699;
  font-weight:bold;
}
pre{
	font-size:14px;
  line-height:1.5;
  background:#EFEFEF;
  margin:1em 30px;
  padding:20px 10px 5px;
  border:1px solid #CCCCCC;
}

dl{
	font-size:14px;
  line-height:1.5;
  margin:1em 30px;
  padding:10px 20px;
}
dl dt{
	font-weight:bold;
  color:#333;
  font-size:16px;
  margin:0 0 10px;
  padding:0;
  color:#002D5C;
}

dl dd{
	margin:0 0 20px;
  padding:10px;
	border:1px solid #006699;
  background:#ECF7FD;
}

dl dd p{
	margin:0;
  padding:0;
}
dl dd pre{
	border:1px solid #006699;
  background:#ECF7FD;
}
ul.list-index{
	border:1px solid #016799;
  background:#ECF7FD;
  padding:10px;
}
ul.list-index li{
	margin:0 0 0 20px;
  padding:0;
}

ul.list-index ul{
	margin:0;
  padding:0;
 }
ul.list-index ul li{
	margin:0 0 0 20px;
  padding:0;
}

ul.module-list{
	height:1px;
}
* > ul.module-list{
	height:auto;
  min-height:1px;
}
ul.module-list:after{
	content:'.';
  clear:both;
  font-size:0;
  display:block;
  visibility:hidden;
  font-weight:normal;
}
ul.module-list li{
	background:url(img/li-arrow.png) no-repeat 0 center;
  list-style-type:none;
  padding-left:15px;
  white-space:nowrap;
  float:left;
  margin-right:30px;
  min-width:280px;
  width:280px;
  line-height:2;
}
ul.module-list > li{
	width:auto;
}
div.search{
	background:#333333;
  margin:0 -98px;
  padding:3px 98px;
  text-align:right;
}

div.search a:link{
	color:#FFFFFF;
}

div.search a:visited{
	color:#FFFFFF;
  text-align:right;
}
div.search a:hover{
	color:#FF6600;
  text-align:right;
}
div.path{
position:absolute;
top:206px;
left:98px;
display:block;
z-index:5;
line-height:32px;
color:#FFFFFF;
}
div.path a{
	color:#FFFFFF;
}
div.path a:link{
	color:#FFFFFF;
  text-decoration:none;
}
div.path a:visited{
	color:#FFFFFF;
  text-decoration:none;
}
div.path a:hover{
	color:#990000;
  text-decoration:none;
}
div.head{
	width:800px;
  min-width:800px;
  position:absolute;
  top:0;
  left:0;
}

* > div.head{
	width:auto;
}

div.head ul.global-navi{
margin:0 98px;
padding:0;
}
div.head ul.global-navi li{
margin:0;
padding:0;
line-height:1;
float:left;
height:64px;
list-style:none;
}
ul.sub-navi{
position:absolute;
top:0;
right:98px;
margin:0;
padding:0;
}
ul.sub-navi li{
	margin:0;
  padding:0;
  list-style-type:none;
}

div.footer{
background:#CCCCCC;
margin:100px -98px 0;
padding:10px 0 0;
}
div.footer address{
	background:#006699;
  color:#FFFFFF;
  text-align:center;
  font-style:normal;
  font-size:12px;
}
div.footer ul.footer-navi{
	margin:0 auto 4px;
	padding:0 0 1px;
  width:80%;
  height:1px;
  min-height:1px;
}
div.footer > ul.footer-navi{
	height:auto;
}
div.footer ul.footer-navi:after{
clear:both;
display:block;
content:".";
font-size:0;
visibility:hidden;
}
div.footer ul.footer-navi li{
	float:left;
  white-space:nowrap;
  background:none;
  border-left:1px solid #666666;
  border-right:1px solid #666666;
  display:inline;
  margin:0 0 5px -1px;
  padding:0 5px;
  line-height:14px;
  font-size:12px;
}

div.footer ul.footer-navi li a:link{
	color:#333;
  text-decoration:none;
}
div.footer ul.footer-navi li a:visited{
	color:#333;
  text-decoration:none;
 }
div.footer ul.footer-navi li a:hover{
	color:#990000;
  text-decoration:underline;
}